<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Belt Exam Wish Lists</title>
  </head>
  <body>
    <h1>Hello, {{ request.session.first_name }}</h1>


    <table>
      <tr>
        <th>Item</th>
        <th>Date Added</th>
        <th>Added by</th>
        <th>ID</th>
        <th>Action</th>
      </tr>

        {% for wish in items %}
        <tr>
          <td>{{ wish.item }}</td>
          <td>{{ wish.created_at }}</td>
          <td>{{ wish.user.first_name }}</td>
          <!-- Not adding first name of the current user -->
          <td>{{ wish.id }}</td>
          {% if request.session.user_id == Wishes.user.id %}
          <td><a href="{% url 'wishlist:destroy' wish.id %}">REMOVE FROM WISH LIST</a>
            {% endif %}
        </tr>
        {% endfor %}

    <nav>
      <a href="{% url 'wishlist:new' %}">Add a new item to your wishlist</a>
      <a href="{% url 'users:logout' %}">Logout</a>
    </nav>
    <h1>Other users' wish lists</h1>

  </body>
</html>
